body {
	margin: 0;
	display: block;
	box-sizing: border-box; /*de border wordt meegerekend in breedte etc */
	overflow-x: hidden; /*zodat er geen scrollbar onder verschijnt */
	font-family: 'Poiret One', cursive;
	max-width: 100%;

}

/*Nog een manier vinden om h1 Spa Wellness & navimg gecentered te houden, met window resize*/


.navimg {
	height: 1px;	/* essential! otherwise 1px indent from pic & background */
	width: 100%;
	width: 100%;
	padding: 0;
	margin: 0 0 0 4.5%;
	   
}
		
.navlist {
	text-align: center; /*essential*/
}



.navlist li {
	color: orange;
	background: transparent;	
	display: inline-block;
	text-align: center;
	padding: 0 5%;
	margin: 0;
	/*position: fixed; werkt niet! alles klapt ineen*/
}


.navlist a {
	text-decoration: none;
	color: orange;
}

.navlist a:hover, .navlist a:visited:hover {
	color: lightblue;
}

.navlist a:visited {
	text-decoration: none;
	color: orange;
}

#gallerylist {
	display: none;
	position: absolute; /* essential! gallerylist komt nu onder gallery te staan */
	top: 12%; /* essential */
	left: 13%; /* essential */	
	font-size: 20px;
	padding: 0;
	margin: 0 0 0 2.5%;
	width: 20px; /* essential */

}

.gallerylist li {
	/* position: relative; icm top werkt niet */
	width: 50%;

}
/*Navbar end*/

/*Gallery start*/
.gallery {
	background-color: #ffff99;
}


.row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row
}

.photoContainer {
	flex: 1;
	position: relative;
}

.photo {
	width: 300px;
	height: 200px;
	margin: 15px 30px;
	border-radius: 8px;
}

/*This is ugly, but it won't work any other way... 
IDs for the text hovering over the image*/
#text1 {
	display: none;
	background-color: black;
	opacity: 0.8;
	color: white;
	position: absolute;
	bottom: 0px;
	width: 294px;
	border-radius: 8px;
	margin: 15px 40px 18px 30px;
	padding: 3px;
}

#text2 {
	display: none;
	background-color: black;
	opacity: 0.8;
	color: white;
	position: absolute;
	bottom: 0px;
	width: 294px;
	border-radius: 8px;
	margin: 15px 40px 18px 30px;
	padding: 3px;
}

#text3 {
	display: none;
	background-color: black;
	opacity: 0.8;
	color: white;
	position: absolute;
	bottom: 0px;
	width: 294px;
	border-radius: 8px;
	margin: 15px 40px 18px 30px;
	padding: 3px;
}

#text4 {
	display: none;
	background-color: black;
	opacity: 0.8;
	color: white;
	position: absolute;
	bottom: 0px;
	width: 294px;
	border-radius: 8px;
	margin: 15px 40px 18px 30px;
	padding: 3px;
}

#text5 {
	display: none;
	background-color: black;
	opacity: 0.8;
	color: white;
	position: absolute;
	bottom: 0px;
	width: 294px;
	border-radius: 8px;
	margin: 15px 40px 18px 30px;
	padding: 3px;
}

#text6 {
	display: none;
	background-color: black;
	opacity: 0.8;
	color: white;
	position: absolute;
	bottom: 0px;
	width: 294px;
	border-radius: 8px;
	margin: 15px 40px 18px 30px;
	padding: 3px;
}
/*Gallery end*/

/*Footer start*/
.footer {
	color: white;
	font-size: 20px;
	font-weight: bold;
	background-color: #ff8000;
	width: 100%;
	height: 120px;
	margin: 0;
	padding: 0 0 0 20%;
	
}

.footer p {
	margin: 0;
}

.footer div {
	display: inline-block;
	margin: 1% 0 0 0;
	padding: 0 10%;
	
}
