body {

	margin: 0;

	display: block;

	box-sizing: border-box; /*de border wordt meegerekend in breedte etc */

	overflow-x: hidden; /*zodat er geen scrollbar onder verschijnt */

	xfont-family: 'Quicksand', sans-serif;

	font-family: 'Poiret One', cursive;

}



.nav {

	color: orange;

	text-align: center;

	xborder: 1px solid black; /* verandert height */

	background-color: white;

	display: fixed;

}



.nav a {

	text-decoration: none;

	color: orange;

}



.nav a:hover {

	color: lightblue;

}



.nav a:visited {

	text-decoration: none;

	color: white;

}



.nav ul li {

	color: orange;

	xborder: 1px solid red;

	display: inline-block;

	text-align: center;

	padding: 0 5%;

	margin: 0;

}


.flex-parent {
	display: flex;
	justify-content:space-around;
	padding: 15px 30px 30px 30px;
}

.flex-child {
	flex: 1;
	width: 350px;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;

}


.h2headers-groen {
	background-color: #08a830; 
	color: #ffffff;
}

.h2headers-oranje {
	background-color: #ff8000;
	color: #ffffff;
}

.list-text {
	text-align: justify;
	padding: 15px 30px 30px 30px;
	padding-top: 10px;
	background-color: #f5f1ed; 
	color: #313130;
}

h1 {
	text-align: center;
	
}

#introductiontext {
	text-align: center;
	padding-right: 155px;
	padding-left: 155px;
}

a { color: inherit; }




/* Show Button */

.show{
  position: absolute;
  top: 100%;
  left: 50%;
  width: 150px;
  height: 40px;
  margin-top: -20px;
  margin-left: -75px;
  background: #e74c3c;
  color: #fff;
  border-radius: 5px;
  border: 0;
  border-bottom: 2px solid #c0392b;
  cursor: pointer;
  
  &:hover{
    background: #c0392b;
  }
  
  &:active{
    transform: scale(0.9);
  }
}

/* Close Button */

.close{
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 20px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 0;

}

/* The mask */

.mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.8);
  z-index: 50;
  visibility: hidden;
  
  opacity: 0;
  
  transition: 0.7s;
}

/* Modal */

.modal{
 	text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: fixed;
  top: 73%;
  left: 63%;
  width: 150px;
  height: 40px;
  margin-left: -200px;
  margin-top: -150px;
  background: #bdc3c7;
  z-index: 100;
  visibility: hidden;
  
  opacity: 0;
  
  transition: 0.5s ease-out;
  
  transform: translateY(45px);
}

/* Class Active */

.active{
  visibility: visible;
  opacity: 1;
}

/* When active class is added, that affects the modal class */

.active + .modal{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}








.footer {

	color: white;

	font-size: 24px;

	font-weight: bold;

	background-color: #ff8000;

	xfloat: left;

	xclear: both;

	width: 100%;

	height: 100px;

	xborder: 1px solid red;

	margin: 0;

	padding: 0 0 0 20%;

	xposition: fixed;

	line-height: 0;



}



.footer div {

	xborder: 1px solid purple;

	display: inline-block;

	margin: 0;

	padding: 0 10%;



}



/*

sticky footer from css-tricks.com

.page-wrap {

  min-height: 100%;

  xequal to footer height

  margin-bottom: -142px; 

}

.page-wrap:after {

  content: "";

  display: block;

}

.site-footer, .page-wrap:after {

  height: 142px; 

}*/