body {

	margin: 0;

	display: block;

	box-sizing: border-box; /*de border wordt meegerekend in breedte etc */

	overflow-x: hidden; /*zodat er geen scrollbar onder verschijnt */

	xfont-family: 'Quicksand', sans-serif;

	font-family: 'Poiret One', cursive;

}



.nav {

	color: orange;

	text-align: center;

	xborder: 1px solid black; /* verandert height */

	background-color: white;

	display: fixed;

}



.nav a {

	text-decoration: none;

	color: orange;

}



.nav a:hover {

	color: lightblue;

}



.nav a:visited {

	text-decoration: none;

	color: white;

}



.nav ul li {

	color: orange;

	xborder: 1px solid red;

	display: inline-block;

	text-align: center;

	padding: 0 5%;

	margin: 0;

}


.flex-parent {
	display: flex;
	justify-content:space-around;
	padding: 15px 30px 30px 30px;
}

.flex-child {
	flex: 1;
	width: 350px;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;

}


.h2headers-groen {
	background-color: #08a830; 
	color: #ffffff;

}

.h2headers-oranje {
	background-color: #ff8000;
	color: #ffffff;
}

.list-text {
	text-align: justify;
	padding: 15px 30px 30px 30px;
	padding-top: 10px;
	background-color: #f5f1ed; 
	color: #313130;
}

h1 {
	text-align: center;
	
}

#introductiontext {
	text-align: center;
	padding-right: 155px;
	padding-left: 155px;
}

a { color: inherit; }

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Gedownload van https://codyhouse.co/gem/back-to-top/  */

.cd-top img {
	width: 15%;
}

.cd-top {
	position: fixed;
	bottom: 30px; /* bottom & right zijn nodig om fixed button te zien. float alleen werkt niet, ik weet alleen niet waarom. */
	right: -460px; /* waarom in de min hier? ws vanwege bootstrap columns */
	visibility: hidden;
	opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;

}


.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}


.footer {

	color: white;

	font-size: 24px;

	font-weight: bold;

	background-color: #ff8000;

	xfloat: left;

	xclear: both;

	width: 100%;

	height: 100px;

	xborder: 1px solid red;

	margin: 0;

	padding: 0 0 0 20%;

	xposition: fixed;

	line-height: 0;



}



.footer div {

	xborder: 1px solid purple;

	display: inline-block;

	margin: 0;

	padding: 0 10%;



}



/*

sticky footer from css-tricks.com

.page-wrap {

  min-height: 100%;

  xequal to footer height

  margin-bottom: -142px; 

}

.page-wrap:after {

  content: "";

  display: block;

}

.site-footer, .page-wrap:after {

  height: 142px; 

}*/