body {
	margin: 0;
	display: block;
	box-sizing: border-box; /*de border wordt meegerekend in breedte etc */
	overflow-x: hidden; /*zodat er geen scrollbar onder verschijnt */
	font-family: 'Poiret One', cursive;
	max-width: 100%;

}

/*Nog een manier vinden om h1 Spa Wellness & navimg gecentered te houden, met window resize*/


.navimg {
	height: 1px;	/* essential! otherwise 1px indent from pic & background */
	width: 100%;
	width: 100%;
	padding: 0;
	margin: 0 0 0 4.5%;
	   
}
		
.navlist {
	text-align: center; /*essential*/
}



.navlist li {
	color: orange;
	background: transparent;	
	display: inline-block;
	text-align: center;
	padding: 0 5%;
	margin: 0;
	/*position: fixed; werkt niet! alles klapt ineen*/
}


.navlist a {
	text-decoration: none;
	color: orange;
}

.navlist a:hover, .navlist a:visited:hover {
	color: lightblue;
}

.navlist a:visited {
	text-decoration: none;
	color: orange;
}

#gallerylist {
	display: none;
	position: absolute; /* essential! gallerylist komt nu onder gallery te staan */
	top: 12%; /* essential */
	left: 13%; /* essential */	
	font-size: 20px;
	padding: 0;
	margin: 0 0 0 2.5%;
	width: 20px; /* essential */

}

.gallerylist li {
	/* position: relative; icm top werkt niet */
	width: 50%;

}

.homebackground {
	display: block;
	margin: 0;
	margin: 0 0 -2% 0;
	padding: 0;
	background: url(watershell.jpg) no-repeat center center;
	width: 120%;
	height: 80%;
	background-size: cover;
	
}

#spreuk {
	font-size: 65px;
	margin: 0 0 0 0;
	padding: 5% 0 0 10%;
	color: white;
}

.footer {
	color: white;
	font-size: 20px;
	font-weight: bold;
	background-color: #ff8000;
	width: 100%;
	height: 120px;
	margin: 0;
	padding: 0 0 0 20%;
	
}

.footer p {
	margin: 0;
}

.footer div {
	display: inline-block;
	margin: 1% 0 0 0;
	padding: 0 10%;
	
}
